.bigContainer{
    margin : 0 8%;
    display: flex;    
}
.smallContainer1{
    width: 50%;
    margin-top: 120px;
}

.smallContainer2{
    width:50%;
    margin-top: 40px;
}

.images{
    width: 60%;
    margin-left:25%;
}

@media (max-width:768px) {
    .bigContainer{
       display: block;
    } 
    .smallContainer1{
        margin-top: 40px;
        width: 100%;
    }
    .smallContainer2{
        width: 100%;
    }
    .images{
        margin-left: 20%;
    }
}
