



 @import url(https://fonts.googleapis.com/css?family=Varela+Round);
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background: #1f2124;
  font-family: "Varela Round", sans-serif;
}

.card {
  background: #383a3f;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  margin: 50px 20px 20px 20px;
  
  color: white;
 
  
  /* padding: 20px ; */
}
.column{
    float: left;
    padding: 20px 4%;
    width: 33.3333%;
}




@media (max-width: 768px) {
  .card {
    margin: 10px 20px;
  }
  .column{
    width: 100%;
    padding: 20px 3%;
  }
  .card:first-child {
    margin-top: 20px;
  }
}
/* .card:nth-child(2) {
  margin: 20px 0px;
  width: 33.3333%;
  padding: 50px 20px;
} */
/* @media (max-width: 768px) {
  .card:nth-child(2) {
    margin: 10px 20px;
    width: calc(100% - 40px);
  }
} */
.card .cardImage {
 
  /* border-top-left-radius: 5px;
  border-top-right-radius: 5px; */
  width:100%;
  float:left; 
  
}
.card .cardImage img {
  border-radius: 5px 5px 0 0;
  width: 100%;
}

.cardContent{
  padding: 20px;
  float:left; 
}


.card .features ul {
  padding: 0;
  margin: 20px 0 2 0px 0;
  list-style-type: none;
}
.card .features ul li {
  margin: 10px 0;
  font-size: 14px;
  text-align: left;
}

.card .btn {
  display: block;
  background: #f6b352;
  color: white;
  padding: 15px 20px;
  margin: 20px 0px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.9);
  transition: all 200ms ease-in-out;
  text-decoration: none;
}
.card .btn:hover {
  background: #f68657;
}



